.starting-game-btn {
    position: absolute;

    right: 15px;
    top: 27.5px;
    background: radial-gradient(black, transparent);
    width: 100px;
    height: 40px;
    outline: none;
    color: white;
    cursor: pointer;
}

